@mixin mobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}

.numberSectionContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  @include mobile {
    padding: 0 30px 0 30px;
  }
  .numberSectionWrapper {
    height: 100%;
    max-width: 1100px;
    overflow: hidden;
    @include mobile {
      padding: 0px;
      border-radius: 30px;
      background-color: transparent;
    }
    .numberSectionTitleWrapper::before {
      left: -30px;
      position: absolute;
      content: "";
      display: block;
      height: 80%;
      width: 5px;
      background-color: rgb(200, 200, 200);
    }
    .numberSectionTitleWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 60px 0;
      margin-left: 30px;
      position: relative;
      @include mobile {
        margin: 20px 0 20px 30px;
      }
      .numberSectionTitle {
        font-size: 25px;
        color: rgb(70, 70, 70);
        font-weight: 500;
        transition: all 400ms;
        @include mobile {
          font-size: 20px;
        }
        .numberTextGradient {
          font-weight: 300;
          line-height: 1.2;
          font-size: 60px;
          margin: 0;
          background: -webkit-linear-gradient(
            -80deg,
            rgb(0, 204, 255),
            rgb(0, 110, 255)
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          @include mobile {
            font-size: 40px;
          }
        }
      }
    }
  }
}
