.stepComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .stepComponentWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 100px;

    .stepImageWrapper {
      border-radius: 25px;
      flex: 1;
      padding: 20px;
      // background-color: rgba(240, 240, 240, 1);
      // box-shadow: 20px 20px 0px 0 rgba(0, 109, 160, 0.247);
      // box-shadow: 0px 0px 0px 100px rgba(66, 206, 241, 0.3);
      box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
      transition: all 400ms;

      .stepImage {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10px;
      }
    }
    .stepDescriptionWrapper {
      max-width: 350px;
      margin: 0 40px;

      .stepDescription {
        font-size: 22px;
        transition: all 400ms;
        margin-left: 30px;
      }
      .stepDescription::before {
        left: -30px;
        position: absolute;
        content: "";
        display: block;
        height: 100%;
        width: 5px;
        background-color: rgb(220, 220, 220);
      }
      .stepButton {
        margin-top: 10px;
        background-color: transparent;
        color: rgba(0, 17, 255, 0.7);
        font-size: 22px;
        font-weight: 500;
        border: 2px solid rgba(0, 17, 255, 0.7);
        padding: 7px 30px;
        border-radius: 18px;
        transition: all 250ms;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: rgba(0, 17, 255, 0.7);
          border: 2px solid rgba(0, 17, 255, 0);
          color: white;
        }
      }
    }
  }
}
