@mixin mobile {
  @media screen and (max-width: 850px) {
    @content;
  }
}

.collaboratorsSection {
  display: flex;
  align-items: center;
  width: 100%;
  .collaboratorsWrapper {
    width: 100%;
    display: grid;
    grid: auto/repeat(4, 0fr);
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
    max-width: 600px;
    @include mobile {
      grid: auto/repeat(2, 0fr);
      justify-content: space-around;
    }
    .collaboratorLogo {
      cursor: pointer;
      height: 37px;
      filter: saturate(0) brightness(0) invert(100%);
      transition: all 400ms;
      &:hover {
        filter: saturate(1);
      }
    }
  }
}
