.collaboratorsSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .collaboratorsWrapper {
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .collaboratorLogo {
      cursor: pointer;
      height: 37px;
      filter: saturate(0) brightness(0) invert(100%);
      // filter: brightness(10);
      transition: all 400ms;
      &:hover {
        filter: saturate(1);
      }
    }
  }
}
