@mixin mobile {
  @media screen and (max-width: 700px) {
    @content;
  }
}

.homeContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 99;
  padding: 30px;
  @include mobile {
    padding: 0px 30px;
    align-items: center;
  }
  .homeWrapper {
    width: 100%;
    height: 100vh;
    max-height: 600px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      height: 80%;
      max-height: none;
    }
    .leftWrapper {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      margin-right: 30px;
      height: 100%;
      transition: all 700ms;
      @include mobile {
        margin: 0px;
        width: 100%;
      }
      .leftTopWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mobile {
          justify-content: space-evenly;
        }
        .homeTitle {
          font-size: 90px;
          color: white;
          font-weight: 100;
          text-transform: uppercase;
          display: flex;
          align-items: baseline;
          justify-content: center;
          @include mobile {
            font-size: 70px;
          }
          .homePicoxiaLogo {
            height: 90px;
            margin-left: 20px;
            @include mobile {
              height: 70px;
            }
          }
        }
        .homeDescription {
          margin: 0;
          color: white;
          font-size: 28px;
          font-weight: 300;
          @include mobile {
            font-size: 24px;
          }
        }
        .homeButton {
          margin-top: 40px;
          background-color: rgba(38, 0, 255, 1);
          color: white;
          font-size: 22px;
          font-weight: 500;
          border: none;
          padding: 10px 40px 10px 20px;
          border-radius: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: relative;
          transition: opacity 200ms;
          &:focus {
            outline: none;
          }
          &:hover{
            opacity: 0.7;
          }
          @include mobile {
            font-size: 20px;
            margin-top: 30px;
          }
          .homeArrow{
            font-size: 45px;
            position: absolute;
            right: 0;
          }
        }
      }
    }

    .rightWrapper {
      transition: all 700ms;
      height: 100%;
      position: relative;
      flex: 1;
      @include mobile {
        display: none;
      }
      .homeImageWrapper {
        padding: 30px;
        background-color: rgba(245, 245, 245, 0.2);
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 35px;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        .homeImage {
          height: 100%;
          object-fit: contain;
          border-radius: 10px;
          display: block;
        }
      }
    }
  }
}
