.navBarContainer {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;

  .navBar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 65px;
    max-width: 1000px;
    border-radius: 25px;
    background-color: rgba(240, 240, 240, 0.5);
    color: white;
    backdrop-filter: blur(15px);
    transition: color 400ms;

    .navBarLeft {
      font-weight: 400;
      font-size: 25px;
      cursor: pointer;
      flex: 1;
    }
    .navBarItem {
      border: none;
      background-color: transparent;
      font-size: 17px;
      cursor: pointer;
      margin: 0 10px;
    }
    .navBarCenter {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex: 1;
    }
    .navBarRight {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;

      .navBarRightItem {
        border: none;
        background-color: transparent;
        color: white;
        padding: 5px;
        width: 120px;
        font-size: 17px;
        cursor: pointer;
        margin-left: 20px;
        background-color: rgb(87, 68, 255);
        border: 2px solid rgb(87, 68, 255);
        border-radius: 15px;
      }
      .navBarRightItem.invert {
        background-color: transparent;
        border: 2px solid rgb(87, 68, 255);
        color: rgb(87, 68, 255);
        font-weight: 600;
      }
    }
  }
}
