@mixin mobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}
.navBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  // overflow: hidden;
  z-index: 999;

  .navBar {
    padding: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 65px;
    max-width: 1000px;
    border-radius: 25px;
    color: white;
    background-color: rgba(240, 240, 240, 0.4);
    backdrop-filter: blur(15px);
    transition: color 400ms;
    @include mobile {
      width: 100%;
      margin-top: 0px;
      border-radius: 0;
      padding: 20px;
      height: 60px;
      background-color: transparent;
      backdrop-filter: none;
    }
    .navBarLeft {
      font-weight: 200;
      font-size: 25px;
      cursor: pointer;
      text-transform: uppercase;
      flex: 1;
      position: relative;
      z-index: 99;
      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(240, 240, 240, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        padding: 0px 15px;
        height: 40px;
        flex: none;
        font-size: 22px;
      }
    }
    .navBarItem {
      border: none;
      background-color: transparent;
      font-size: 17px;
      cursor: pointer;
      @include mobile {
        margin: 20px 0;
      }
    }
    .navBarLinks {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100%);
        height: calc(100vh);
        flex-direction: column;
        backdrop-filter: blur(40px);
        transition: opacity 400ms, transform 400ms;
        opacity: 0;
        pointer-events: none;
      }
      .navBarCenter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        @include mobile {
          flex: none;
          flex-direction: column;
          justify-content: space-around;
        }
      }
      .navBarRight {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        @include mobile {
          flex: none;
          flex-direction: column;
          justify-content: flex-start;
        }
        .navBarRightItem {
          border: none;
          background-color: transparent;
          color: white;
          padding: 5px;
          width: 120px;
          font-size: 17px;
          cursor: pointer;
          margin-left: 20px;
          background-color: rgba(38, 0, 255, 1);
          border: 2px solid rgba(38, 0, 255, 1);
          border-radius: 15px;
          @include mobile {
            margin: 10px 0;
          }
        }
        .navBarRightItem.invert {
          background-color: transparent;
          border: 2px solid rgba(38, 0, 255, 1);
          color: rgba(38, 0, 255, 1);
          font-weight: 600;
        }
      }
    }
    .mobileBurger {
      height: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      display: none;
      background-color: rgba(240, 240, 240, 0.5);
      backdrop-filter: blur(10px);
      border-radius: 15px;
      padding: 10px 10px;
      @include mobile {
        display: flex;
      }
      .burgerMenuComponent {
        height: 1px;
        width: 30px;
        background-color: white;
        transition: transform 400ms;
        transform-origin: left;
      }
    }
  }
}
