@mixin mobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}
$fontSize: 22px;
$mobileFontSize: 20px;

.presentationDescriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px 0px 0px 30px;
  transition: all 400ms;
  @include mobile {
    padding: 0px;
  }
  .presentationDescription {
    color: white;
    font-size: $fontSize;
    margin: 0px 30px;
    font-weight: 300;
    position: relative;
    @include mobile {
      font-size: $mobileFontSize;
      margin: 0;
    }
  }
  .presentationDescription::before {
    left: -30px;
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .presentationButton {
    margin-top: 30px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: $fontSize;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 7px 30px;
    border-radius: 18px;
    transition: all 250ms;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @include mobile {
      font-size: $mobileFontSize;
    }
  }
  .presentationButton:hover {
    background-color: white;
    color: rgb(66, 204, 214);
  }
}
