.presentationDescriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 30px;

  .presentationDescription {
    color: whitesmoke;
    font-size: 22px;
    margin: 0px 30px;
    margin-bottom: 20px;
    font-weight: 300;
    position: relative;
  }
  .presentationDescription::before {
    left: -30px;
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .presentationButton {
    margin-top: 10px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 7px 30px;
    border-radius: 18px;
    transition: all 250ms;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .presentationButton:hover {
    background-color: white;
    color: rgb(70, 70, 70);
  }
}
