.presentationDescriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .presentationDescription {
    color: whitesmoke;
    font-size: 22px;
    margin: 20px 50px;
    font-weight: 300;
  }
}
.presentationLine {
  width: 1px;
  height: 200px;
  background-color: rgba(240, 240, 240, 0.5);
}